<div class="col-md-10 col-md-offset-1">
  <div class="jumbotron text-center">
    <h2>Hello <%= current_user.email%></h2>
    <h1>Welcome to Online Contact Manager App</h1>
    <p>
      <%= link_to "Manage Your Contact", contacts_path, class: "btn btn-primary btn-lg" %>
    </p>
  </div>
</div>
